.restaurant {
    /* background-color: rgb(236, 228, 228); */
    margin-top: -1.5em;
    text-align: left;
    padding: 5% 0;
}

.restaurant p {
    line-height: 1.4rem;
    cursor: text;
}

.restaurant ul {
    list-style: none;
    padding-left: 0em;
}

.restaurant ul li {
    /* border-style: solid; */
    display: flex;
    background-color: white;
    margin: 2em auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.restaurant img {
    width: 30%;
    cursor: default;
    /* height: 0%; */
}

.restaurant h4 {
    cursor: default;
}

.restaurant-info {
    padding-left: 1em;
}

.restaurant-info-container-hide {
    display: none;
}

.restaurant-info-container-show {
    display: block;
}

.restaurant-info-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 56, 56, 0.8);
    z-index: 1;
}

.restaurant-details {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 50% 25%;
    background-color: white;
}

.restaurant-details img {
    width: 100%;
    height: 60%;
}

.restaurant-details p {
    font-size: 0.8rem;
}

@media(min-width:730px) {
    .restaurant ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding-left: 5em;
        padding-right: 5em;
    }
    .restaurant ul li {
        /* border-style: solid; */
        display: inline;
        margin: 1em;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }
    .restaurant img {
        width: 100%;
        height: 17em;
    }
    .restaurant-info {
        padding-left: 0.2em;
    }
    .restaurant p {
        line-height: 1rem;
        margin: auto;
        padding: 1em;
    }
    .restaurant h4 {
        margin: 1em auto auto;
        padding: 1em;
    }
    .header p,
    h3 {
        padding: 0em;
    }
    .restaurant-details {
        width: 40%;
        height: 60%;
        margin: 25% 30%;
    }
}

@media (min-width:1024px) {
    .restaurant ul {
        display: flex;
    }
    .restaurant ul li {
        /* border-style: solid; */
        display: inline;
        margin: 1em;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }
    .restaurant img {
        width: 15em;
        height: 15em;
    }
    .restaurant-details {
        width: 20%;
        height: 50%;
        margin: 1em 28em 0em 38em;
    }
    .restaurant-details img {
        width: 100%;
        height: 60%;
    }
    .restaurant-info-container {
        padding: 11em 0em;
    }
}